*{
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	padding: 15px;

	letter-spacing: 5px;
	text-align: center;

	background-color: white;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	z-index: 1;

}

.header__logo {
	margin-top: 50px;
}
.header__menu {
	margin-top: 30px;
}

.header__menu-item {
	margin-bottom: 10px;
	display: block;
	/* width: 280px; */
	border-radius: 10px;
	border: #161616 2px dashed;
}

.header__menu-item:hover {
	background-color: #ff13a5a9;
}

.header__menu-item a {
	font-family: 'Neucha', cursive;
	font-size: 20px;
	font-weight: 900;
	text-transform: uppercase;
	color: #161616;

	display: block;
	padding: 15px;
}

.header__instagram {
	display: inline-block;
	margin-top: 30px;
}

.header__instagram a {
	display: block;
	background-image: url("../images/instagram.png");
	width: 128px;
	height: 128px;
}

.header__instagram a:hover {
	background-image: url("../images/instagram_active.png");
}

.header__copyright {
	margin-top: 30px;

}

.hamburger {
	margin: 0 auto;
	margin-right: 15px;
	width: 30px;
	height: 30px;
	position: relative;
	display: none;
}

.hamburger .bar {
	padding: 0;
	width: 30px;
	height: 4px;
	background-color: #e71095;
	display: block;
	border-radius: 4px;
	transition: all 0.4s ease-in-out;
	position: absolute; 
}

.bar1 {
	top: 0;
}

.bar2,
.bar3 {
	top: 13.5px;
}

.bar3 {
	right: 0;
}

.bar4 {
	bottom: 0;
}

.checkbox1:checked + label > .hamburger1 > .bar1{
	transform: rotate(45deg);
	transform-origin: 5%;
	width: 41px
}

.checkbox1:checked + label > .hamburger1 > .bar2 {
	transform: translateX(-40px);
	background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar3 {
	transform: translateX(40px);
	background-color: transparent;
}

.checkbox1:checked + label > .hamburger1 > .bar4 {
	transform-origin: 5%;
	transform: rotate(-45deg);
	width: 41px;
}

.visuallyHidden {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; width: 1px; 
	margin: -1px; padding: 0; border: 0; 
}

.main {
	margin-left: 300px;

	font-family: 'Oswald', sans-serif;
	
	text-transform: uppercase;
	color: #f0f0f0;
	font-weight: bold;
	line-height: auto;
	background-color: #000000;
	

	min-height: 100vh;
}

.hair-bar {
	font-size: 220px;
}


.main__bg {
	background-image: url("../images/main_bg.png");
	background-repeat: no-repeat;
	background-position: bottom right;
	min-height: 100vh;
	
	display: flex;
	align-items: center;
	background-size: auto 100%;
}

.main__hair-bar {
	padding-left: 50px;
}

.colors {
	background-color: #f8f8f8;
	color: #ec69a6;
	padding: 0;
}
.colors__bg {
	width: 100%;
	background-image: url("../images/colors_bg.jpg");
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: 20%;
	background-attachment: fixed;
	border-top: dashed 4px #c2c1c1;
	border-bottom: dashed 4px #c2c1c1;
}
.colors__content {
	padding: 10px;
}

.colors__text {
	margin: 20px;
}

.colors__palitra {
	margin: 20px;
	padding: 10px;

	max-width: 90%;
}
.colors__palitra-list {
	text-align: center;
	
}
.colors__palitra-item {
	display: inline-block;
	margin: 8px;
}

.colors__palitra-img {
	padding: 5px;
}

.colors__palitra-img img{
	border-radius: 30px;
	block-size: 200px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.colors__palitra-number {
	padding-top: 10px;
	font-family: 'Neucha', cursive;
	font-size: 40px;
	text-align: center;
	font-weight: 900;
}

.price__border {
	background-image: url("../images/price_bg.jpg");
	min-height: 100vh;
	border-top: dashed 4px #6c462a;
	border-bottom: dashed 4px #6c462a;
}

.price__bg {
	padding: 50px;
	background-image: url("../images/price_bg-hair.png");
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 40%;
	
}

.price__text p{
	display: none;
	font-size: 60px;
	color: #6c462a;

}

.price__table {
	margin: 80px 90px 0px 0;
	display: inline-block;

	font-size: 30px;
	color: #6c462a;
}

.price__table th{
	font-size: 50px;
	text-align: center;
	width: 350px;
	color: #4e2e10;
}

.price__table tr:nth-of-type(2) td {
	padding-top: 30px;
	color: #4e2e10;
	border-bottom: solid 4px #6c462a;
}

.price__table td {
	text-align: center;
	padding: 5px 0;
	border-bottom: 4px #6c462a dashed;
}

.price__table td:nth-child(2){
	/* text-align: right; */
}

.price__cm {
	font-size: 70%;
}
.price__rub {
	font-size: 80%;
}

.contacts {
	background-color: #f7f7f7;
	color: #222222;
	font-size: 4vw;
	min-height: 100vh;
}

.contacts__border {
	
}

.contacts__bg{
	min-height: 100vh;
	background-image: url("../images/contacts_bg.jpg");
	background-repeat: no-repeat;
	background-position: right top;
	
}

.contacts__content {
	padding: 100px;
}
.contacts__item {
	display: flex;
	margin-bottom: 30px;
}

.contacts__item a {
	display: block;
	padding: 35px 0 0 20px;
}

.contacts__item-img{
	display: block;
}


@media (max-width: 1500px) {
	.price__bg {
		background-image: none;
	}
	.price__content {
		text-align: center;
	}
}

@media (max-width: 1280px) {
	
	.price__text img{
		width: 90%;
	}
}


/* Смена меню */
@media (max-width: 1100px) {
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 70px;
		padding: 5px;

		display: flex;
		justify-content: space-between;
	
		letter-spacing: 5px;
		text-align: center;
	
		background-color: white;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
		z-index: 1;
	}

	.header__logo {
		margin: 0;
		
	}

	.header__logo img {
		margin: 0 0 0 10px;
		block-size: 60px;
		width: 60px;
	}

	.header__menu {
		margin-top: 15px;
	}

	.header__menu-list {
		display: none;
		position: absolute;
		left: 0;
		top: 69px;

		background-color: #fff;
		width: 100%;
		padding: 40px 20px 40px;

		z-index: 0;
		
	}

	.header__menu-item {
		margin: 0 auto 10px auto;
		display: block;
		max-width: 250px;
		border-radius: 10px;
		border: #161616 2px dashed;
	}
	
	.header__copyright {
		display: none;
	}

	.header__instagram {
		margin: 0 10px 0 0;
		width: 50px;
	}

	.header__instagram a {
		display: block;
		background-image: url("../images/instagram.png");
		background-repeat: no-repeat;
		background-size: 50px;
		block-size: 50px;
		margin: 5px 5px 0 0;
	}



	.header__menu-item a {
		padding: 30px 15px;
	}

	.hamburger {
		display: block;
	}
	
	.main {
		margin-left: 0;
	}

	.hair-bar {
		padding-top: 120px;
	}

	.colors__bg {
		background-repeat: repeat-y;
		background-position-y: 10%;
		padding-top: 60px;
	}

	.price__border {
		padding-top: 60px;
	}
}

@media (min-width: 1100px) {
	.header__menu-list {
		display: block !important;
	}

	.hamburger {
		display: none;
	}
}

@media (max-width: 800px) {
	.price__table {
		margin: 60px 0 80px 0;
	}

	.price__text img{
		display: none;
	}
	.price__text p{
		display: block;
	}
	.colors__text {
		text-align: center;
	}
	.colors__text img {
		block-size: 60px;
	}

	.colors__palitra {
		margin: 0;
		padding: 0;
		max-width: 100%;
	}

	.colors__palitra-img img{
		border-radius: 15%;
		block-size: 89px;
	}

	.contacts__bg {
		background-image: none;
	}

	.contacts__item-img img{
		block-size: 89px;
		
	}

	.contacts__item {
		flex-direction: column;
		justify-content: center;
	}

	.contacts__item a {
		text-align: center;
		padding: 10px 0 0 0;
		font-size: 28px;
	}

	.contacts__item-img {
		text-align: center;
	}

	.contacts__content {
		padding: 150px 10px;
	}
}

@media (max-width: 460px) {
	.price__text p{
		font-size: 40px;
	}
	.price__bg {
		padding: 20px;
	}
	.header__instagram {
		display: none;
	}

	.contacts__item a {
		text-align: center;
		padding: 10px 0 0 0;
	}

}

@media (max-width: 400px) {

}
